<!-- <p>gallery19to20 works!</p> -->
<!-- <div class="container"> -->
<div class="btn" (click)="closeDialog()">X</div>
<!-- <div class="smiley"></div> -->
<p class="smilingText">Keep<br>smiling<br>
  always! <br> :-)</p>
<ul class="main-nav">
    <li class="item1">
      <div class="bg"></div>
    </li>
    <li class="item2">
      <div class="bg"></div>
    </li>
    <li class="item3">
      <div class="bg"></div>
    </li>
    <li class="item4">
      <div class="bg"></div>
    </li>
    <li class="item5">
      <div class="bg"></div>
    </li>
    <li class="item6">
      <div class="bg"></div>
    </li>
    <li class="item7">
      <div class="bg"></div>
    </li>
    <li class="item8">
        <div class="bg"></div>
    </li>
  </ul>
<!-- </div> -->