<!-- <p>gallery18 works!</p> -->
<div class="container">
    <div class="btn" (click)="closeDialog()">X</div>
    <div class="box">
      <img src="assets/images/2018-19/p1.png">
      <span>Wish</span>
    </div>
    <div class="box">
      <img src="assets/images/2018-19/p2.jpg">
      <span>You</span>
    </div>
    <div class="box">
      <img src="assets/images/2018-19/p3.jpg">
      <span>All</span>
    </div>
    <div class="box">
      <img src="assets/images/2018-19/p4.jpg">
      <span>Success</span>
    </div>
  </div>