<audio src="assets/audio/Happy_birthday_piano_music.mp3" autoplay="autoplay" loop="loop"></audio>
<app-intro #intro  (moveDown)="scrollDown()"></app-intro>
<app-counter #counter  (moveUpFromCounter)="scrollUpFromCounter()" (moveDownFromCounter)="scrollDownFromCounter()"></app-counter>
<app-calendar #calendar (moveUpFromCalendar)="scrollUpFromCalendar()" (moveDownFromCalendar)="scrollDownFromCalendar()"></app-calendar>
<app-magicalname #magicalname (moveUpFromMagicalName)="scrollUpFromMagicalName()"></app-magicalname>
 <!-- <audio controls loop>
    <source src="assets/audio/Happy_birthday_piano_music.mp3" type="audio/mpeg">
 </audio> -->
